<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDKUibwu1W8IZVzTJRMGIjBAS4K4Imh-QU</string>
	<key>GCM_SENDER_ID</key>
	<string>944733144482</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.muzikLocal</string>
	<key>PROJECT_ID</key>
	<string>muziklokal-6a50b</string>
	<key>STORAGE_BUCKET</key>
	<string>muziklokal-6a50b.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:944733144482:ios:9b9dcabf6a69cb1dd5defb</string>
</dict>
</plist>